.hoverImage:hover {
    width: 250px;
}

.buttonHover{
    background-color: transparent;
    border: 1px solid blue;
    padding: 8px;
}

.buttonHover:hover{
    background-color: blue;
    color: white;
}


/*
Modificar aspecto de links visitados
*/
a:visited{
    color: red;
}

/*
Modificar links sin visitar
*/
a:link{
    color: yellow;
}

/*
Un punto para referenciar pseudoclases
*/
a:active{
    text-decoration: none;
    background-color: yellow;
}

/*
Dos puntos para referenciar pseudoelementos
*/
.firstLetter::first-letter{
    color: green;
    font-size: 30px;
}



/* primer y ultimo hijo del padre*/
.listaNumeros li:first-child,
.listaNumeros li:last-child{
    background-color: yellow;
    color: red;
}

/*modifica el hijo que le indiquemos en ()*/
.listaNumeros li:nth-child(3){
    background-color: blue;
}

/*modifica el hijo que le indiquemos () pero empieza a contar desde el ultimo*/
.listaNumeros li:nth-last-child(3){
    background-color: chartreuse;
}
/*::before pone contenido antes de lo que se le indique*/
.beforeExample::before{
    content: "Antes";
}

/*::after pone contenido despues de lo que se le indique*/
.beforeExample::after{
    content: "Después";
}